# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=CONCRETE Core Daemon SNAP
Comment=testnet
GenericName=CONCRETE Digital Currency Daemon Client testnet network
Exec=concrete-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/concrete_testnet.png
MimeType=x-scheme-handler/cct;
Categories=X-Office;X-Finance;
Keywords=internet;concrete;zcct;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
